{% extends "layout.html" %}

{% block content %}
	

	{% for reco in recos %}

		<div class="list-group">
			{% if reco.call == "sell" %}
			<div style="background-color:#e8545488" class="list-group-item list-group-item-action">
			{% elif reco.call == "buy" %}
			<div style="background-color:#63eb8088" class="list-group-item list-group-item-action">
			{% else %}
			<div class="list-group-item list-group-item-action">
			{% endif %}
			    <div id = {{loop.index}} class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">{{reco.name}}</h5>
			    </div>
			    <p class="mb-1">{{reco.call}}</p>
			</div>
		</div>
	
	{% endfor %}

{% endblock content%}


{% block script %}
	
	 google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Company');
        data.addColumn('number', 'lstm');
        data.addColumn('number', 'ann');
        data.addColumn('number', 'genetic');
        data.addRows({{performance}});

        var options = {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }

	document.getElementById("Recos").className="nav-link active"


{% endblock%}